{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% blocktrans %}Registration for Travel Agents{% endblocktrans %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}jquery-ui.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ STATIC_URL }}ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}registration.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="./registrationta.html">{% blocktrans %}Travel Agent{% endblocktrans %}</a>
        </div>
     </div>
    </nav>

 
<div class="uno">
<div class="container">
    <h1 class="well">{% blocktrans %}Registration Form for Travel Agents{% endblocktrans %}</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form role="form" id="form1" action="./regta.html" method="post">
 					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-9">
                                <div class="form-group">
								<label for="CompanyName">{% blocktrans %}Company Name{% endblocktrans %}</label>
								<input type="text" placeholder="{% trans "Company Name" %}" id="CompanyNameTA" name="CompanyNameTAn" class="form-control" value="" required>
                                

					</div>
















                    <div class="form-group">


							<label for="Address">{% trans "Address" %}</label>
							<textarea placeholder="{% trans "Enter Address Here.." %}" rows="3" id="AddressTA" name="AddressTAn" class="form-control" required></textarea>
					</div>


						<div class="row">
							<div class="col-sm-4">
                                                    <div class="form-group">

								<label for="City">{% trans "City" %}</label>
								<input type="text" placeholder="{% trans "Enter City Name Here.." %}" id="CityTA" name="CityTAn" class="form-control" value="" required>
					</div>

							</div>
							<div class="col-sm-4">
                                                    <div class="form-group">

								<label for="State">{% trans "State" %}</label>
								<input type="text" placeholder="{% trans "Enter State Name Here.." %}" id="StateTA" name="StateTAn" class="form-control" value="" required>
					</div>

							</div>
							<div class="col-sm-4">
                                                    <div class="form-group">

								<label for="Zip">{% trans "Zip" %}</label>
								<input type="text" placeholder="{% trans "Enter Zip Code Here.." %}" id="ZipTA" name="ZipTAn" class="form-control" value="" required>
					</div>

							</div>
						</div>
                                                   <div class="form-group">

						<label for="Country">{% trans "Country" %}</label>
						<input type="text" placeholder="{% trans "Enter Country Here.." %}" id="CountryTA" name="CountryTAn" class="form-control" value="" required>
					</div>

                                                    <div class="form-group">

						<label for="Phone">{% blocktrans %}Phone Number{% endblocktrans %}</label>
						<input type="text" placeholder="{% trans "Enter Phone Number Here.." %}" id="PhoneTA" name="PhoneTAn" class="form-control" value="" required>
					</div>

                    <div class="form-group">


						<label for="Website">{% trans "Website" %}</label>
						<input type="url" placeholder="{% trans "Enter Website Name Here.." %}" id="WebsiteTA" name="WebsiteTAn" class="form-control" value="">
  					</div>

                    <div class="form-group">

						<label for="Email1">{% blocktrans %}Email Address{% endblocktrans %}</label>
						<input type="email" placeholder="{% trans "Enter Email Address Here.." %}" id="Email1TA" name="Email1TAn" class="form-control" value="" required>
 					</div>

                    <div class="form-group">

						<label for="Email2">{% blocktrans %}Repeat Email Address{% endblocktrans %}</label>
						<input type="email" placeholder="{% trans "Repeat Email Address" %}" id="Email2TA" name="Email2TAn" class="form-control" equalTo="#Email1TA" value="" required>
 					</div>

                    <div class="form-group">

						<label for="Password1">{% trans "Password" %}</label>
						<input type="password" placeholder="{% trans "Enter Password Here.." %}" minlength="6" id="Password1TA" name="Password1TAn" class="form-control" value="" required>
 					</div>

                    <div class="form-group">

						<label for="Password2">{% blocktrans %}Repeat Password{% endblocktrans %}</label>
						<input type="password" placeholder="{% trans "Repeat Password" %}" minlength="6" id="Password2TA" name="Password2TAn" class="form-control" equalTo="#Password1TA" value="" required>
					</div>

					</div>
					</div>
                        <div class="form-group">
					<button type="submit" class="btn btn-lg btn-info" formaction="./regta.html">{% trans "Submit" %}</button>{% csrf_token %}
 					</div>

					</div>
                </div>
				</form>
				</div>
	</div>
	</div>
    </div>
      <footer>
        <p>© 2015 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script src="https://cdn.rawgit.com/jzaefferer/jquery-validation/master/src/localization/messages_{{ LANGUAGE_CODE }}.js"></script>

    <script src="{{ STATIC_URL }}jquery-ui.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script>
$("#form1").validate();
$("#WebsiteTA").click(function() {
  $("#WebsiteTA").val("http://");
 });
$("#WebsiteTA").focusout(function() {
     if ($("#WebsiteTA").val() == "http://") {
         $("#WebsiteTA").val("");
     }
     });
</script>

</body></html>
