{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% blocktrans %}Travel Agent:{% endblocktrans %} {{ NameTA }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}jquery-ui.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ STATIC_URL }}ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}Prototype.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ STATIC_URL }}ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./webta">{% blocktrans %}Travel Agent:{% endblocktrans %} {{ NameTA }}</a>
        </div>
     </div>
    </nav>

 <div class="uno">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3" >
          <h2>{% trans "Trends" %}</h2>
<ul> 
<div class="panel-group" role="tablist"> 
<div class="panel panel-default"> 
<div class="panel-heading" role="tab" id="collapseListGroupHeading1"> 
<h4 class="panel-title"> 
<a class="" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1"> New York State </a>
</h4> 
</div>
 <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style=""> 
<ul class="list-group"> 
<li class="list-group-item">Jamaica 1150$</li>
 <li class="list-group-item">San Lucas Cap 1000$</li>
 <li class="list-group-item">Mayan Riviera 900$</li>
 </ul>  
</div> 
</div>
 </div> 
<ul>
<div class="panel-group" role="tablist"> 
<div class="panel panel-default"> 
<div class="panel-heading" role="tab" id="collapseListGroupHeading2"> 
<h4 class="panel-title"> 
<a class="" role="button" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2"> New York City </a>
</h4> 
</div>
 <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2" aria-expanded="true" style=""> 
<ul class="list-group"> 
<li class="list-group-item">San Lucas Cap 1300$</li>
 <li class="list-group-item">Mayan Riviera 1500$</li>
 <li class="list-group-item">Jamaica 1350$</li>
 </ul>  
</div> 
</div>
 </div>  </ul></ul>   
        </div>
        <div class="col-md-3">
          <h2>{% blocktrans %}Travel Suggestions{% endblocktrans %}</h2>
        <div class="inner">

       </div>
       </div>
        <div class="col-md-6">
          <h2>{% trans "Search" %}</h2>
<form>
  <div class="form-group">
    <input type="search" class="form-control" id="exampleInputSearch" placeholder="{% trans "Search" %}">
  </div>
</form>
        </div>
      </div>

      <hr>


      <footer>
        <p>© 2015 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-ui.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}ie10-viewport-bug-workaround.js"></script>

    <script>
$('#collapseListGroup1').on('shown.bs.collapse', function () {
 $('#collapseListGroup2').collapse('hide');
$( "#t1" ).remove();
$( "#dialog1" ).remove();
$( "#t2" ).remove();
$( "#dialog2" ).remove();
$( "#t3" ).remove();
$( "#dialog3" ).remove();
$( '<div class="list-group"> \
  <a id="t1" href="#" class="list-group-item"> \
    <h4 class="list-group-item-heading">Jamaica</h4> \
    <p class="list-group-item-text">Jamaica 4 star hotel 7 days 1100$.</p> \
    <button id="button1" type="button" class="btn btn-default" aria-label="Left Align"> \
    <span >></span> \
    </button> \
    <div id="dialog1" title="Jamaica"><p >Jamaica 4 star hotel 7 days 1100$ various excursions.</p></div> \
  </a> \
</div>' ).appendTo( ".inner" );
$( '<div class="list-group"> \
  <a id="t2" href="#" class="list-group-item"> \
    <h4 class="list-group-item-heading">San Lucas Cap</h4> \
    <p class="list-group-item-text">San Lucas Cap 4 star hotel 7 days 990$.</p> \
    <button id="button2" type="button" class="btn btn-default" aria-label="Left Align"> \
    <span >></span> \
    </button> \
    <div id="dialog2" title="San Lucas Cap"><p >San Lucas Cap 4 star hotel 7 days 990$ various excursions.</p></div> \
  </a> \
</div>' ).appendTo( ".inner" );
$( '<div class="list-group"> \
  <a id="t3" href="#" class="list-group-item"> \
    <h4 class="list-group-item-heading">Mayan Riviera</h4> \
    <p class="list-group-item-text">Mayan Riviera Cap 4 star hotel 7 days 890$.</p> \
    <button id="button3" type="button" class="btn btn-default" aria-label="Left Align"> \
    <span >></span> \
    </button> \
    <div id="dialog3" title="Mayan Riviera"><p >Mayan Riviera Cap 4 star hotel 7 days 890$ various excursions.</p></div> \
  </a> \
</div>' ).appendTo( ".inner" );
$( "#dialog1" ).dialog({ autoOpen: false, modal: true});
$( "#dialog2" ).dialog({ autoOpen: false, modal: true});
$( "#dialog3" ).dialog({ autoOpen: false, modal: true});
$( "#button1" ).click(function() {
  $( "#dialog1" ).dialog( "open" );
  $( "#dialog2" ).dialog( "close" );
  $( "#dialog3" ).dialog( "close" );

});
$( "#button2" ).click(function() {
  $( "#dialog2" ).dialog( "open" );
  $( "#dialog1" ).dialog( "close" );
  $( "#dialog3" ).dialog( "close" );

});
$( "#button3" ).click(function() {
  $( "#dialog3" ).dialog( "open" );
  $( "#dialog2" ).dialog( "close" );
  $( "#dialog1" ).dialog( "close" );

});

})

$('#collapseListGroup2').on('shown.bs.collapse', function () {
 $('#collapseListGroup1').collapse('hide');
$( "#t1" ).remove();
$( "#dialog1" ).remove();
$( "#t2" ).remove();
$( "#dialog2" ).remove();
$( "#t3" ).remove();
$( "#dialog3" ).remove();
$( '<div class="list-group"> \
  <a id="t1" href="#" class="list-group-item"> \
    <h4 class="list-group-item-heading">San Lucas Cap</h4> \
    <p class="list-group-item-text">San Lucas Cap 5 star hotel 7 days 1500$.</p> \
    <button id="button1" type="button" class="btn btn-default" aria-label="Left Align"> \
    <span >></span> \
    </button> \
    <div id="dialog1" title="San Lucas Cap"><p >San Lucas Cap 5 star hotel 7 days 1500$ various excursions.</p></div> \
  </a> \
</div>' ).appendTo( ".inner" );
$( '<div class="list-group"> \
  <a id="t2" href="#" class="list-group-item"> \
    <h4 class="list-group-item-heading">Mayan Riviera</h4> \
    <p class="list-group-item-text">Mayan Riviera Cap 5 star hotel 7 days 1700$.</p> \
    <button id="button2" type="button" class="btn btn-default" aria-label="Left Align"> \
    <span >></span> \
    </button> \
    <div id="dialog2" title="Mayan Riviera"><p >Mayan Riviera Cap 5 star hotel 7 days 1700$ various excursions.</p></div> \
  </a> \
</div>' ).appendTo( ".inner" );
$( '<div class="list-group"> \
  <a id="t3" href="#" class="list-group-item"> \
    <h4 class="list-group-item-heading">Jamaica</h4> \
    <p class="list-group-item-text">Jamaica 5 star hotel 7 days 1400$.</p> \
    <button id="button3" type="button" class="btn btn-default" aria-label="Left Align"> \
    <span >></span> \
    </button> \
    <div id="dialog3" title="Jamaica"><p >Jamaica 5 star hotel 7 days 1400$ various excursions.</p></div> \
  </a> \
</div>' ).appendTo( ".inner" );
$( "#dialog1" ).dialog({ autoOpen: false, modal: true});
$( "#dialog2" ).dialog({ autoOpen: false, modal: true});
$( "#dialog3" ).dialog({ autoOpen: false, modal: true});
$( "#button1" ).click(function() {
  $( "#dialog1" ).dialog( "open" );
  $( "#dialog2" ).dialog( "close" );
  $( "#dialog3" ).dialog( "close" );

});
$( "#button2" ).click(function() {
  $( "#dialog2" ).dialog( "open" );
  $( "#dialog1" ).dialog( "close" );
  $( "#dialog3" ).dialog( "close" );

});
$( "#button3" ).click(function() {
  $( "#dialog3" ).dialog( "open" );
  $( "#dialog2" ).dialog( "close" );
  $( "#dialog1" ).dialog( "close" );

});

})



    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


</body></html>
